.access-section span a {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.inner-login-form {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    padding: 5px 13px;
    border-radius: 5px;
}

.background-color {
    border-radius: 20px;
    height: 350px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: -15%;
    position: relative;

}

.background-color ul li {
    height: 15%;

}

.background-color ul li a {
    color: black;
    display: block;
    list-style: none;
    text-decoration: none;
}



.about-us {
    min-height: 350px;
}

.about-us-image {
    background-image: url(images/image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 15px;
}

.about-us-content {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
}

.footer {
    min-height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
}

.footer a {
    list-style: none;
}

.footer li {
    color: white;
    display: inline;
}

.lecture-video {
    height: 350px;

}

.quiz-title {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon span a {
    color: black;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}

.pagination-section {
    min-height: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lecture-content {
    color: rgb(53, 53, 53);
    text-align: justify;
    padding: 10px 5px;
    box-shadow: 1px 2px 244px -76px rgba(130, 130, 130, 1);
}

.complete {
    display: flex;
    justify-content: center;
}

.pagination-section a {
    color: black;
    font-weight: 500;
}

.pagination-section a:hover {
    color: black;
    list-style: none;
    text-decoration: none;
}

.next {
    display: flex;
    justify-content: flex-end;
}

fieldset {
    box-shadow: -5px -3px 48px 1px rgba(0, 0, 0, 0.2);
    margin: 10px 0px !important;
    padding: 10px 5px !important;
    border-radius: 5px;
}

.quiz-content p {
    font-weight: bold;

}


.profile-image {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.dashboard-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: -5px -3px 48px 1px rgba(0, 0, 0, 0.2);
}

.dashboard-item a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-size: 400;
    font-weight: bold;
}

.image-upload-section {
    padding: 10px 10px;
    border-radius: 15px;
}

.profile-image {
    height: 200px;
    object-fit: contain;
}


.carousel-item img {
    max-height: 300px;
}

#counter {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    font-size: 18px;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}